/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@media screen and (min-width:768px){


    .company-reviews{
        display: flex;
    }
    .company-reviews ul{
        justify-content: flex-start;
        align-self: center;
    }
    .company-reviews ul li{
        padding: 0px !important;
    }
    .company-reviews  p{
        justify-content: flex-end;
        font-size: 13px;
        margin-left: 5px;
    }
}
.dark .menu-link { color: #666; }
.dark .menu-link:hover { color: var(--themecolor); }
.sub-menu-container .menu-link:hover { color: white !important; }

.side-bar{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.side-bar h3{
    background-color: #555;
    border-top-left-radius: 0.25rem;
    text-align: center;
    border-top-right-radius: 0.25rem;
    color: #fff;
    padding: 5px 0px;
    margin-bottom: 0px;
}

.quick-links .content{
    padding: 10px;

}
.quick-links .media h5{
    margin-bottom: 0px;
}
.quick-links .media a{
    color: #555;
    font-size: 13px;
}

.quick-links .media a:hover{
    color: #55be73;
}
.quick-links ul{
    list-style: none;
}
.quick-links h4{
    margin-bottom: 0px;
    padding: 0px  0px 5px;
}

.quick-links a.view-more{
    color: #555;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 130px;
    display: flow-root;
    margin: auto;
    text-decoration-line: underline !important;
}

.quick-links a.view-more:hover{
    color: #55be73;
}
.quick-links ul li{
    padding: 5px;
}
.star-reviews ul{
    list-style: none;
    margin-bottom: 0px;
}
.star-reviews ul li{
    display: inline-block;
    padding: 0px 2px;
}
.star-reviews p{
    margin-bottom: 0px;
}
.star-reviews ul li i{
    color: #FF9529
}
.company-card p.card-text{
    font-weight: 600;
    margin-bottom: 0px;
}
.company-card p span{
    font-weight: 400;
}


/* header section css start */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.qtus{
    font-size: 100%;
    background: #f4f2f1;
    color: #38332e;
    line-height: 1.45;
    font-family: 'Poppins', sans-serif !important;
}


.page-2 .form-control{
    padding: 30px;
    border: none;
    border-bottom: 1px solid #5555558c;
    margin-right: 25px;
}
.page-2 button{
    background-color: #555;
    color: #fff;
}
.qtus p{
    font-size: 19px;
}



h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
}

.top-menu{
    background-color: #55be73;
    color: #fff;
}
.top-menu ul{
    padding-inline-start: 0;
    list-style: none;
    margin-bottom: 0;
    padding: 10px 0px;
}

.top-menu ul li{
    display: inline-block;
}
.top-menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.top-menu ul li a:hover{
    color: #fff;
}

.hero-section{
    background-image: url("../img/headerbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 50px 0px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0000008a;
}
.calci-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    text-align: center;

}
.calci-heading h1{
    color: rgba(255,255,255, 0.9);
    font-size: 3.05176em;
    font-family: ubuntu;
}
.calci-heading p{
    color: rgba(255,255,255, 0.8);
    font-size: 1.5625em;
    line-height: 1.2;
}
.calculator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 450px;
    background-color: #fff;
    border-radius: .5rem;
}
.calci-header{
    padding: 1.3em;
    background: #ea8024;
    border-radius: .5rem .5rem 0 0;
    color: #fff;
}
.calci-header i{
    font-size: 50px;
}
.calci-form{
    padding: 1.3em;
}
.calci-form .btn{
    display: inline-block;
    border: none;
    padding: 1em 2.5em;
    text-align: center;
    border-radius: .5rem;
    color: #fff;
    background: #8dc63e;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .025em;
    cursor: pointer;
}
.reviews{
    margin: auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
}
.start ul{
    list-style: none;
    padding-inline-start: 0;
}
.start ul li{
    display: inline;
}
.start ul li i{
    color: #ea8024
}

.box{
    border-top: 1px solid;
    margin-bottom: 10px;
    padding: 15px 0px;
}
.box a{
    color: black;
    text-decoration: none;
}
.box h4{
    padding: 10px 0px;
    color: #4c4c4c;
}
.box p{
    color: #7f7f7f;
}
.box a:hover{
    color: #4c4c4c;
    cursor: pointer;
}




/* -------   */

.navbar-brand img
{
    max-height: 50px;
}
.row-box{
    padding: 1.3em;
    border-radius: .5rem;
    background: #fff;
}
.well-idea {
    color: #145d60;
    padding-left: 2.7625em;
}
.well--idea {
    color: #145d60;
    padding-left: 2.7625em;
}
.well--idea  h5{
    font-weight: 300;
    line-height: 1.8;
}
.well--idea  h5 b{
    font-weight: 600;
}
.well--idea a{
    color: #55be73;
    text-decoration: none;
}
.well--idea a:hover{
    color: #55be73;
    text-decoration: none;
}
.well--idea:before,
.idea2::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0eb";
    position: absolute;
    margin-left: -28px;
    top: 15px;
    font-size: 25px;
}
.people-box{
    text-align: center;
}
.people-box a{
    color: #928c87;
    text-decoration: none;
}
.people-box i{
    font-size: 50px;
}
.people-box h4{
    padding: 20px 0px;
}
.people-box p{
    color: #55be73;
}
.mover p span{
    color: #55be73;
}
.lists ul{
    list-style: none;
    padding-inline-start: 0px;
}
.lists ul li{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.lists ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-size: 25px;
    margin-right: 10px;
    color: #55be73;
}
.logo img{
    max-width: 120px;
}
.star-reviews ul{
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: 0;
}
.star-reviews ul li{
    display: inline;
}
.star-reviews ul li i,
.star-reviews p{
    color: #ea8024;
}

.active-btn{
    background-color: #55be73;
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}
.active-btn:hover{
    background-color: #55be73;
    color: #fff;
    text-decoration: none;
}
.normal-btn{
    background: #f4f2f1;
    color: #6d655f;
    display: inline-block;
    padding: 1em 2.5em;
    margin-bottom: 10px;
    border-radius: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.normal-btn:hover{
    background: #f4f2f1;
    color: #6d655f;
    text-decoration: none;
}
.peach-btn{
    background-color: #55be73;
}
.peach-btn:hover{
    background-color: #55be73;
}
.action{
    border-top: 1px solid #e5e5e5;
    padding: 20px 0px;
}

.travel h6,
.mover h5{
    text-transform: uppercase;
    color: #928c87;
}


/* @media screen and (max-width:991px){
 .lists ul{
     display: flex;
     flex-direction: column;
} */
@media screen and (min-width:769px){
    .travel{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
@media screen and (min-width:991px){
    .action{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
}

.sidebar  img{
    max-width: 280px;
}

.sidebar  h6{
    text-transform: uppercase;
    color: #928c87;
}
.sidebar  h6 b{
    font-weight: 600;
}

#companyCarousel1 img,
#companyCarousel2 img,
#companyCarousel3 img{
    width: auto;
}
#nextCompanybtn1,
#nextCompanybtn2,
#nextCompanybtn3 {
    display: flex;
    justify-content: center;
    padding: 0px;
}
.owl-carousel{
    padding-top: 0% !important;
}

.row-box .lists ul{
    display: flex;
    flex-wrap: wrap;
}

.row-box .lists ul li{
    float: left;
    width: 50%;
}
#nextCompanybtn1  i,
#nextCompanybtn2  i,
#nextCompanybtn3  i,
#prevCompanybtn1  i,
#prevCompanybtn2  i,
#prevCompanybtn3  i{
    align-self: center;
}

#nextCompanybtn1  ,
#nextCompanybtn2  ,
#nextCompanybtn3  ,
#prevCompanybtn1  ,
#prevCompanybtn2  ,
#prevCompanybtn3  {
    display: flex;
    justify-content: center;
    padding: 0px;
}
.owl-carousel { padding-top: 5%; }
.arrow-div { margin-top: 5%; }
.arrow-icon { width: 40px; height: 40px; background: #fff; padding-left: 15%; margin-bottom: 10px;  }
.arrow-icon:hover { box-shadow: 10px 10px 40px 5px #ccc; cursor: pointer; }
.owl-carousel h3 { margin-top: 12% !important; }
#myModal .modal-header{
    background-color: #555;
}
#myModal .modal-header button,
#myModal .modal-header button span{
    color: #fff;
}
.date-form{
   margin: 0px;
}
.date-form{
   margin: 20px 0px 0px 0px;
}
.date-form .form-group{
    margin-bottom: 1.5rem;
    position: relative;
}
.date-form .form-group label{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: #495057;
    font-weight: 400;
    pointer-events: none;
}
.date-form .ab-c label{
      font-size: 11px;
    left: 0px;
    top: -15px;
    font-weight: 600;
}
.date-form .form-control {
    border: none;
    border-bottom: 2px solid #ced4da !important;
}
#exampleModalCenterTitle{
    display: flex;
    margin-left: auto;
    color: #fff;
}
#myModal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    display: flex;
    margin-left: auto;
    color: #fff;
}
.date-form button{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #55be73;
    margin-top: 50px;
    border-color: #55be73;
}
.date-form button:hover{
    background-color: #555;
    border-color: #555;
}

#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    padding-top: 20%;
    padding-left: 45%;
}
